a {
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 32px 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul {
  list-style-type: none;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.browserupgrade {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}
