// Primary
$white: #fff;
$black: #000;
$light-grey: #ccc;

// Sidebar
$navy: #0e171d;
$light-navy: #1e2e3a;
$dark-navy: #0c1218;
$grey-navy: #272f34;

// Content
$lime-wash: #13c079;
$grey-wash: #eef4f8;
$grey-wash-hover: #e2e8eb;

