.add-icon {
  background: url("../img/add-icon.png") no-repeat;
  padding-left: 36px;
  padding-top: 3px;
}

.events {
  flex-grow: 1;
}

.event {

  :hover {
    background: $grey-navy;
  }

  a {
    color: $white;
    display: block;
    padding: 16px 12px 16px 36px; 
    width: 100%;
  }
}

.logo-motorpool {
  background: url("../img/logo.png") no-repeat;
  margin: 40px 0px 46px 35px;
  min-width: 67px;
  min-height: 43px;
}

.new-event {
  background: $lime-wash;
  color: $white;
  display: block;
  height: 100%;
  padding: 22px 32px;
  width: 100%;
}

.search-form {
  padding-left: 26px;
  margin-bottom: 14px;

  input {
    background: $navy;
    border: 1px solid $light-navy;
    border-radius: 20px;
    color: $white;
    outline: none;
    padding: 12px 18px;
    transition: background 0.2s ease-in-out;

    :focus {
      background: $dark-navy;
    }
  }

  button {
    background: url("../img/search-icon.png") no-repeat;
    border: none;
    height: 17px;
    position: relative;
    right: 38px;
    width: 17px;
  }
}


.sidebar {
  background: $navy;
  color: $white;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  min-width: 300px;
  width: 300px;
}

.sidebar-actions {
  align-self: flex-end;
  width: 100%;
}
