@import 'colors';

@import 'base';
@import 'media';
@import 'util';

@import 'sidebar';
@import 'content';

.main {
  display: flex;
  overflow: hidden;
  font: normal 16px sans-serif;
  width: 100%;
  height: 100%;
}
