@import 'colors';

@import 'base';
@import 'media';
@import 'util';
@import 'buttons';

@import 'sidebar';
@import 'content';

.main {
  display: flex;
  font: normal 16px sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
